<div class="row">
  {{#each model as |course|}}
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{course.title}}
        </div>
        <div class="panel-body">
          <p><strong>Subject:</strong> {{course.subject}}</p>
        </div>
        <div class="panel-footer">
          {{#link-to 'course' course}}Open Course{{/link-to}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
