<div class="modal-content" {{action 'close'}}>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div class="modal-body">
     {{h5p-standalone external=args.h5p}}
  </div>
  <div class="modal-footer">
  </div>
</div><!-- /.modal-content -->

