@import "base/fonts";
@import "base/qunit";
@import "base/fonts";
@import "base/variables";

@import "bootstrap";
@import "bootstrap-material-design";

@import "layout/inputs";

body {
  overflow: hidden;
}

.certel-logo {
  margin-bottom: 3em;
}

.user-list {
  max-height: 84px * 3;
  overflow-y: scroll;

  .list-group-item {
    cursor: pointer;
  }
}

.panel-body, .modal-body, .modal-header {
  color: #222222;
}

.h5p-container {
  min-height: 250px;
}

.book-cover {
  max-width: 100%;
}

$page-navigate-margins: 50px;

.book-container {
  // margin: 20px;
  overflow: hidden;

  font-size: 14px;
}
.book-content-container {
  color: #000;
  font-family: serif;

  overflow-x: scroll;

  // display: flex;
  // flex: 1 0 50%;
  // flex-wrap: wrap;

  padding: 40px;
  box-sizing: border-box;
  height: 100vh;

  margin-left: 0;

  transition: transform 0.3s ease-in-out;

  .book-content {
    column-fill: auto;
    height: 100%;
    box-sizing: border-box;
    column-width: 400px; // basically breakpoint between 2 or 1 pages per screen
    column-gap: 80px;
  }

  .section { // should be called section now
    break-after: column;
  }

  .section-frontmatter .page {
    break-after: column;
  }

  h1, h2, p {
    font-family: serif;
    flex: 1 0 100%;
  }

  h2 {
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
  }

  p {
    font-size: 1.2em;
    text-align: justify;

    &.overflow {
      position: relative;
      overflow: hidden;
    }
  }

  // .page {
  //   display: flex;
  //   flex-shrink: 0;
  //   align-items: flex-start;

  //   padding: $page-navigate-margins;
  //   padding-top: 85px;
  //   // margin: 10px;
  //   background-color: #fff;
  //   box-sizing: border-box;
  //   width: 50%;
  //   height: 100vh;

  //   cursor: pointer;
  //   user-select: none;
  //   -webkit-user-select: none;

  //   &:nth-child(even) {
  //     padding-right: 60px;
  //     border-left: 1px solid #e8e8e8;
  //   }

  //   &:nth-child(odd) {
  //     padding-left: 60px;
  //   }
  // }

  // @media (orientation: landscape) {
  //   width: 50%;
  // }

  // @media (orientation: portrait) {
  //   width: 100%;
  // }

  // .page-content {
  //   width: 100%;
  // }

  img {
    max-width: 50%;
    height: auto;
  }

  .text-center-center {
    text-align: center;
    margin-top: 50%;
  }

  .text-left-bottom {
    flex: 1;
    align-self: flex-end;
  }

  .text-center {
    text-align: center;
  }

  .title-heading {
    font-size: 5em;
    font-weight: bold;
  }

  table {
    width: 100%;
    font-size: 0.9em;
  }

  .slick-next {
    z-index: 100;
    width: 50%;
    height: 100%;
    right: 0;
  }

  .slick-prev {
    z-index: 100;
    width: 50%;
    height: 100%;
    left: 0;
  }
}

.paginator {
  position: absolute;
  // margin-left: -10000px;

  top: 0;
  left:0;
  display: block;
  visibility: hidden;

  pointer-events: none;
  .keep-together {
    break-inside: avoid;
  }
}

.navbar-fixed-top, .navbar-fixed-bottom {
  opacity: 0;

  transition: opacity 0.3s ease-in-out; 
  &:hover, &.show {
    opacity: 0.6;
  }
}

.navbar-fixed-left, .navbar-fixed-right {
  background-color: inherit;
  color: inherit;
  opacity: 0;
  height: 100%;
  
  .nav-spacer {
    height: 50%;
  }  
  
  .nav-link {
    cursor: pointer;
  }
  
  transition: opacity 0.3s ease-in-out; 
  &:hover, &.show {
    opacity: 0.6;
  }
}

.book-navigation {
  position: absolute;
  height: 100vh;
  top: 0;
  z-index: 100;
  width: $page-navigate-margins;
}

.book-navigation-left {
  left: 0;
}

.book-navigation-right {
  right: 0;
}

.book-loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  background: hsla(0, 0, 100, 0.6);
}

$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;

  .path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
      dash $duration ease-in-out infinite, 
      colors ($duration*4) ease-in-out infinite;
  }
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

@keyframes colors {
  0% { stroke: #4285F4; }
  25% { stroke: #DE3E35; }
  50% { stroke: #F7C223; }
  75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}

blockquote{
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eeeeee;
    font-size: 17.5px;
    font-family: 'Georgia', serif;
    font-style: italic;
    
    cite{
        font-size: 80%;
        font-weight: bold;
    }
}

