@import "base/fonts";
@import "base/qunit";
@import "base/fonts";
@import "base/variables";

@import "bootstrap";
@import "bootstrap-material-design";
@import "ripples";

@import "layout/inputs";

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.btn {
  font-weight: 400;
}

body {
  height: 100%;
  overflow: hidden;
  background: #f5f5f5;
}

main {
  height: 100vh;

  &.pad-container {
    padding-top: 15px;
  }
}

.certel-logo {
  margin-bottom: 3em;

  img {
    margin-top: 40px;
    width: 100%;
    max-width: 365px;
  }
}

.user-list {
  max-height: 84px * 3;
  overflow-y: scroll;

  .list-group-item {
    cursor: pointer;
  }
}

.panel-body, .modal-body, .modal-header {
  color: #222222;
}

.h5p-container {
  min-height: 250px;
}

.book-cover {
  max-width: 100%;
}
.book-title, .book-author {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-title {
  font-weight: 400;
}

.book-author {
  font-size: 0.8em;
  color: #5d5c5c;
}

.book-context-menu {
  float: right;
  button {
    padding: 0;
    background: none;
    border: none;
  }
}

.panel img.enlarge {
  position: absolute;
  width: 100%;
  height: 100%;

  left: 0;
  top: 0;
}

$page-navigate-margins: 50px;



$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;

  .path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
      dash $duration ease-in-out infinite,
      colors ($duration*4) ease-in-out infinite;
  }
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

@keyframes colors {
  0% { stroke: #4285F4; }
  25% { stroke: #DE3E35; }
  50% { stroke: #F7C223; }
  75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}

.change-section {
  width: 50%;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eeeeee;
    font-size: 17.5px;
    font-family: 'Georgia', serif;
    font-style: italic;

    cite{
        font-size: 80%;
        font-weight: bold;
    }
}

.footer {
 width: 100%;
 text-align: center;
 font-size: 80%;
 color: lightgray;
}

.alert {
  font-weight: 500;
}

.welcome-container {
  height: 100vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#282828+0,005578+100 */
  background: #282828; /* Old browsers */
  background: -webkit-linear-gradient(top, #005578 0%, #282828 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #005578 0%, #282828 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #ffffff;
  padding: 0 20px;
  // height: 50%;
  //padding-top: 25%;

  label.control-label {
    width: 100%;
    text-align: center;
  }

  label.control-label, .btn.btn-raised.btn-primary, .form-control {
    color: #ffffff;        
  }

  .get-started {
    margin-top: 40px;
  }

  .form-group.is-focused .form-control {
      outline: none;
      background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(#005578, #005578);
      background-size: 100% 2px, 100% 1px;
      box-shadow: none;
      transition-duration: 0.3s;
  }

  .material-icons {
    font-size: 1.4em;
    line-height: 0.8em;
  }
}

.material-icons {
  font-size: 1.4em;
  line-height: 0.8em;
  vertical-align: middle;
}

.add-book-panel {
  height: 230px;
  line-height: 230px;
  text-align: center;

  color: #888888;
  font-size: 16px;
}

a.video_link, .quiz {
    line-height: 1em;
    /*position: relative;*/
    border: 1px solid $brand-primary;
    margin: 1em 1em 1em 0em;
    /* padding: 0.9em 1em 1em 3em; */
    padding: 0.9em 1em 1em 0.9em;
    border-radius: 1000px;
    background: transparent;
    color: $brand-primary;
    text-decoration: none;
    display: table;
    
    &:before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0.6em 0em 0.6em 0.9em;
        border-color: transparent transparent transparent #FFFFFF;
        left: 1.2em;
        position: absolute;
        content: '';
        color: red;
        padding: 0;
        top: 0.8em;
        z-index: 1;
        -webkit-transform: rotate(360deg);
    }

    &:after {
        position: absolute;
        content: '';
        padding: 1em;
        border: 1px solid $brand-primary;
        border-radius: 1000px;
        line-height: 1;
        background-color: $brand-primary;
        left: 0;
        margin-top: -0.52em;
        margin-left: 0.46em;
    }
    
    &:hover, &:focus{
        background: #DDE8EC;
    }
    
    &:active{
        background: #d4dfe3;
    }  
}

@import "components/reader";
@import "layout/navbar";
