@import "base/fonts";
@import "base/qunit";
@import "base/fonts";
@import "base/variables";

@import "bootstrap";
@import "bootstrap-material-design";

@import "layout/inputs";

.certel-logo {
  margin-bottom: 3em;
}

.user-list {
  max-height: 84px * 3;
  overflow-y: scroll;

  .list-group-item {
    cursor: pointer;
  }
}

.panel-body, .modal-body, .modal-header {
  color: #222222;
}