# See http://help.github.com/ignore-files/ for more about ignoring files.

# custom config
/config/custom/*
/cordova/config.xml
/public/assets/custom/*

# compiled output
/dist
/tmp
/public/content/books/

# dependencies
/node_modules
/bower_components/*

# misc
/.sass-cache
.idea
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
*~
*\#
*.swp

# cordova
cordova/platforms
cordova/plugins

# funzo
public/content/courses
public/content/epubs
