$grid-float-breakpoint: 0px;

// $body-bg: rgb(0, 85, 120);
$brand-primary: rgb(0, 85, 120);
// $text-color: #ffffff;
// $link-color: #97ccc1;

// $headings-color: $text-color;

// $input-color: #222222;
// $input-bg: #fff;

@media (min-width: 0px) {
  .navbar-left {
    margin-left: -15px !important;
  }
}