<div class="col-md-12">
  <div class="alert alert-danger" role="alert">
    <strong>Error</strong> <em>Failed to extract book content. Please notify your school.</em>
  </div>
  <div class="text-center">{{#link-to 'index' class="btn btn-lg btn-default btn-raised"}}Back{{/link-to}}</div>
</div>
