<div role="tabpanel" class="tab-pane h5p-tab-pane active" id={{model.permalink}}>
  {{h5p-standalone coursePath=model.module.course.permalink modulePath=model.module.permalink activityPath=model.permalink action=(action 'xAPIEvent')}}
</div>