{{nav-bar back=(action 'back') logout=(action 'logout')}}
<main class="container-fluid {{unless nav.hide "pad-container"}}">
  {{liquid-outlet class="row"}}
</main>

{{bootstrap-modal content=modal refreshIndex=(action 'refreshIndex')}}
