{{#if hasActivities}}
  <div class="row">

    <!-- Nav tabs -->
    <div class="col-xs-3">
      <ul class="nav nav-pills nav-stacked">
        {{#each model.activities as |activity|}}
          <li>{{#link-to 'course.module.activity' model.course model activity class=activity.active}}{{activity.title}}{{/link-to}}</li>
        {{/each}}
      </ul>
    </div>

    <!-- Tab panes -->
    <div class="col-xs-9">
      {{outlet}}
    </div>

  </div>
{{else}}
  {{h5p-standalone coursePath=model.course.permalink modulePath=model.permalink action='xAPIEvent'}}
{{/if}}
