<div class="row">
{{#each model.modules as |module|}}
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-body">
          <span class="card-title">{{module.title}}</span>
        </div>
        <div class="panel-footer">
          {{#link-to 'course.module.activity' model module module.activities.firstObject}}Open Module{{/link-to}}
        </div>
      </div>
    </div>
{{/each}}
</div>
