<nav>
  <div class="nav-wrapper">

    <ul id="nav-mobile" class="left">
      <li><a href="#" {{action 'back'}}><i class="material-icons">keyboard_arrow_left</i></a></li>
    </ul>

    <a class="brand-logo left">{{nav.title}}</a>

    <ul id="nav-mobile" class="right">
      {{#if session.isAuthenticated}}
        <li><a href="#" class="dropdown-button" data-activates="account-dropdown"><i class="material-icons">account_circle</i></a></li>
      {{/if}}
      <li>{{#link-to 'settings'}}<i class="material-icons">settings</i>{{/link-to}}</li>
    </ul>
  </div>
  </nav>
<ul id="account-dropdown" class="dropdown-content">
  <li><a href="#!">profile</a></li>
  <li class="divider"></li>
  <li><a href="#!" {{action 'logout'}}>logout</a></li>
</ul>
