<h1>Select User</h1>
{{login-user-select users=model userSelected='userSelected'}}
<div class="row">
  <div class="col s12">{{#link-to 'register' class="waves-effect waves-light btn-large"}}Register{{/link-to}}</div>
</div>